<!-- Copyright -->
<div style="height: 300px;"></div>
<div class="container" style="left: 0; right: 0; bottom: 0; position: absolute;">
    <div style="text-align: center; font-weight: bold; font-size: 80%;">
        &copy; 2017-2018 NLOG (엔로그)
    </div>
    <hr style="width: 100%;" color="white">
    <div style="padding-bottom: 10px; text-align: center; font-size: 80%;">
        이 사이트는 Supercell의 추천, 후원, 승인을 받은 콘텐츠가 아니며 Supercell은 이에 대해 책임을 지지 않습니다.
        자세한 내용은 <a href="https://supercell.com/en/fan-content-policy/" style="font-weight: bold;">Supercell 팬 콘텐츠 정책</a>을 참조하십시오.
    </div>
</div>